.background {
    -fx-background-color: #FFFAE9;
}

.button {
    -fx-color:#FFF2CD;
    -fx-border-color: #FFEDB9;
    -fx-border-width: 2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
}

.titleLbl {
      -fx-font-family: "Segoe UI Semibold";
      -fx-text-fill: #FF007F;
      -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.lblScore {
     -fx-text-fill: #CCCC00;
     -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
      -fx-font-family: "Segoe UI Semibold";
}
.field{
     -fx-background-repeat: no-repeat;
     -fx-background-color: #CDCDCD;
     -fx-border-width: 8;
     -fx-border-color: grey;
 }
